# zapina rewrite engine
RewriteEngine on
# neaplikuje na skutecne soubory a adresare
RewriteCond %{REQUEST_FILENAME} !-d

# nastavuje odkud se rewrites pouziji
# RewriteBase /

# prevod cesty za / jako GET parametr model
RewriteRule ^([a-zA-Z0-9\_\-]*)$ index.php?model=$1   [L,QSA]
