/***
 *zakladni nastaveni
 ***/
html, body, div, #nav ul, #nav ul li, img, a {
	margin: 0;
	padding: 0;
	border-width: 0;
	color: white;
	font-family: Verdana, 'Geneva CE', lucida, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
a, a:link, a:active, a:visited, a:hover {
	text-decoration: none;
	color: white;
}

body {
	background: #015896 url('images/background.png') 0 0 scroll repeat-x;
}

div#body {
	width: 930px;
	height: auto;
	position: relative;
	margin: 58px auto 0 auto;
	padding: 0;
	background-repeat: no-repeat;
}

/***
 *stylovani menu
 ***/
div#nav {
	width: 930px;
	height:	auto;
	margin: 0;
	padding: 0;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	position: relative;
	float: left;
	margin-left: 16px;
	padding: 0;
	display: block;
	background: url('images/background_nav.png') top right scroll no-repeat;
	width: auto;
	height: 56px;
}
#nav ul li.active {
	background: url('images/background_nav_active.png') top right scroll no-repeat;
}

#nav ul li a {
	position: relative;
	left: -7px;
	display: table-cell;
	vertical-align: middle;
	height: 56px;
	padding: 0 26px 0 26px;
}

#nav ul li:first-child {
	padding: 0;
	margin-left: 0;
}

#nav ul li:first-child a {
	display: inline;
	font-size: 0;
	padding: 0;
}

#nav ul li:before {
	position: absolute;
	left: -7px;
	display: block;
	float: left;
	content: '';
	background: url('images/background_nav_before.png') 0 0 scroll no-repeat;
	width: 8px;
	height: 56px;
}

#nav ul li.active:before {
	background: url('images/background_nav_before_active.png') 0 0 scroll no-repeat;
}

#nav ul li:first-child:before {
	position: relative;
	left: 0;
	display: block;
	float: left;
	content: '';
	background-image: none;
	width: 0;
	height: 0;
}

#nav ul li a img {
	width: 312px;
	height: 107px;
	position: relative;
	top: -58px;
}

/***
 *Stylovani paticky
 ***/
div#footer {
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 15px;
}

div#footer a {
	text-decoration: underline;
	color: #81c7f8;
	margin-right: 25px;
}

div.clear {
	clear: both;
}
